*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Spartan;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 8px;

    width: 100%;
    height: 104px;
    
    background:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand:first-child{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.navbar-collapse{
    justify-content: flex-end;
}

.nav-li{
    text-transform: uppercase;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.7);
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    padding: 42px 16px;
    box-sizing: border-box;
}

.nav-li:hover{
    border-bottom: 5px solid #287DA8;
    cursor: pointer;
}

.nav-li:hover a{
    text-decoration: none;
    color: #287DA8 !important;
    box-sizing: border-box;
}

.nav-li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);

}

/* unvisited link */
.nav-li a:link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);

}
  
  /* visited link */
.nav-li   a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);

}
  
  /* mouse over link */
.nav-li  a:hover {
    text-decoration: none;
    /* color: #287DA8; */
}
  
  /* selected link */
.nav-li  a:active {
    text-decoration: none;
    color: black;
}

.nav-coming-soon{
    color:#287DA8;
    text-transform: none;
}

.icon-bar{
    border: 2px solid rgba(0, 0, 0, 0.7);;
    margin: 0px 2.5px ;
}

@media only screen and (max-width:1124px){
    .nav-li{
        padding:42px 8px;
    }
}

@media only screen and  (max-width:992px){
    
    .navbar-expand-lg , .navbar-brand{
        padding: 0px 8px !important;
    }

    footer{
        flex-direction: column !important;
    }

}

@media only screen and (max-width:398px){
    .navbar-brand{
        position: relative;
        top:0px;
    }    

    footer{
        flex-direction: column;
    }
}

.navbar-toggler-icon{
    color: rgba(0, 0, 0, 0.7);;
    transform: rotate(90deg);
}


#journey{
    height: 50vw;
}

.journey-heading{
    font-weight: bolder;
}



/*Footer*/
footer{
    background-color: #F5F5F5;
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7) !important;
    padding: 12px 24px;
}

.footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    width: 85%;
    min-width: 180px;
    text-align: justify;
}

.footer-div li{
    margin: auto;
    display: flex;
}

.footer-div li a{
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.7);
}

.footer-div ul{
    list-style: none;
    padding-left: 50px;
}

footer h4{
    text-align: center;
    font-size: 2.5rem;
}

.footer-icons{
    margin-top: 30px;
    margin: auto;
    width: 150px !important;
    display: flex;
    justify-content: space-around;
}

.footer-icons img{
    width: 32px;
    height: 32px;
}

.footer-div-heading{
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
}
.footer-googleplay img{
    height: 64px;
}
/*Footer Ends*/


.copywrite-text{
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copywrite-text p{
    padding: 0;
    margin: 0;
}

.terms-modal, .privacy-modal{
    font-size: 12px;
    cursor: pointer;
    margin: 16px;
}

.modal-body{
    text-align: justify;
}

.after-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}


.privacyAndTerms{
    display: flex;
    flex-direction: row;
}

.mod{
    width: 100% !important;
    /* padding: 0px !important; */
    margin: 0 !important;
}
